@model EnrolTraining.Models.AdOnDeliveryOption
@{
    Layout = null;
}

<div class="content-box">
    <div class="content-box-hdr">
        <div class="content-hdr-form" style="padding-top:13px; font-size:14px">
            Delivery Options
        </div>
    </div>

    <div class="FormWrapper">
        <div class="row">
            <div class="col-md-12">
                <section>
                    @using (Html.BeginForm("AdOnDeliveryOptions", "Admin", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.Hidden("ID", Model == null ? 0 : Model.ID)
                        <div class="form-group">
                            @Html.LabelFor(m => m.PickupText, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.PickupText, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PickupText, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ShippingDays, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.ShippingDays, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ShippingDays, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <hr style="border-color:#e8e6e6" />
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9 text-right">
                                <input type="submit" value="Update Settings" class="btn btn-success" />
                            </div>
                        </div>

                    }

                </section>
            </div>

        </div>
    </div>
</div>
<div class='clear'></div>

