@using Vereyon.Web
@model EnrolTraining.Models.ScoresViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class='page-title'>
    <h1>@Model.CourseName</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 style="float:left; margin-left:5px; margin-top:0px; font-size:15px; color:#485a6f">@Model.ScheduleDate.ToString("ddd M/d/yyyy") from @Model.StartTime to @Model.EndTime</h3>
    </div>
</div>

<form method="post" action="/Admin/EditScores">
    @Html.Hidden("ClassID", Model.ClassID)
    <div class="content-box">
        <div class="content-box-hdr" style="border-bottom:0px">
            <div class="content-hdr-form" style="padding-top:8px; font-size:14px">
                <div class="right-buttons" style="margin-bottom:8px; padding-top:0px">
                </div>
            </div>

            @{
                if (Model != null)
                {
                    <div style="padding:20px; background-color:white; padding-bottom:10px">
                        <table class="table table-condensed table-striped table-hover" style="margin-bottom:0px">
                            <thead>
                                <tr>
                                    <th>
                                        Sr. No.
                                    </th>

                                    <th>
                                        Student
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Score
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{

                                    for (int i = 0; i < Model.StudentID.Length; i++)
                                    {
                                        int srno = i + 1;
                                        string name = Model.LastName[i] + ", " + Model.FirstName[i];
                                        <tr>
                                            <td>
                                                @srno
                                            </td>
                                            <td>
                                                <span>@name </span> <br />
                                            </td>
                                            <td>
                                                @Html.DropDownList("Status[" + i + "]", EnrolTraining.DropdownLists.StudentStatus(Model.Status[i] == null ? "0" : Model.Status[i].ToString(), false), new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBox("Score[" + i + "]", Model.Score[i], new { @class = "form-control", @style = "max-width:100px" })
                                                @Html.Hidden("StudentID[" + i + "]", Model.StudentID[i])
                                            </td>
                                        </tr>

                                    }

                                }

                                <tr>
                                    <td colspan="4" style="padding-top:15px; padding-right:0px">
                                        <div class="right-buttons" style="padding-right:0px">
                                            <a href="/Admin/UpcomingClasses" class="btn btn-default">Back</a>
                                            <input type="submit" value="Save" class="btn btn-success" />
                                        </div>

                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                }
            }

        </div>


    </div>
</form>

<div class='clear'></div>
